*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    height: 80px;
    background-color: rgb(177, 30, 54);
}

main{
    /* height: 600px; */
    background-color: yellow;
}

.main-top{
    height: 250px;
    background-color:#e1d67a;
}

.header-main-bottom{
    height: 70px;
}
.main-bottom{
    /* height: 350px; maledettaaaaa altezza */
    background-color:#abcfe7;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.float{
    float: left;
}

.container{
    border: 3px solid black;
    /* height: 85%; */
    background-color:#0086ff;
}
aside{
    width: 20%;
    background-color: #abcfe7;
    height: 350px;
}
.main-content{
    /* border: 2px solid red; */
    background-color: #abcfe7; /*da togliere*/
    width: 56%;
    height: 350px; 
    margin: 0% 2%;
    /* margin:0 calc(60% - 150px); */
    
}

aside, .main-content{
    margin-top: 15px;
    margin-bottom: 15px;
}


footer{
    height: 55px;
    background-color: purple;
}